<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!loggedIn">
    Please log in on the Profile tab
  </div>

  <div *ngIf="loggedIn">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-select multiple="false" [disabled]="members.length === 0"
            placeholder="Select project and group"
            (ionChange)="setProject($event.detail.value)">
            <ion-select-option *ngFor="let project of members" value="{{project.project_id}}">
              {{project.project_name}}
            </ion-select-option>

          </ion-select>
          <ion-select multiple="false" [disabled]="project_id === -1"
            placeholder="Select group"
            (ionChange)="setGroup($event.detail.value)">
            <!-- <ion-select-option value="*">
              <i>All groups in project <b>{{project.project_name}}</b></i>
            </ion-select-option> -->
            <ion-select-option *ngFor="let group of (project && project.project_members) || []" value="{{group.group_id}}">
              {{group.group_name}}
            </ion-select-option>
          </ion-select>

        </ion-col>


        <ion-col size="8">
          <ace-editor [(text)]='source' [readOnly]="locked" theme="monokai" mode="typescript" style=" min-height: 480px; overflow: auto;"></ace-editor>
          <ion-item>
            <ion-label>Locked</ion-label>
            <ion-checkbox [disabled]="group_id === -1" [(ngModel)]="locked"></ion-checkbox>
          </ion-item>
          <ion-button [disabled]='group_id === -1 || !script || (source === script.source && locked === script.locked)' (click)="revertScript()">Revert</ion-button>
          <ion-button [disabled]='group_id === -1 || !script || (source === script.source && locked === script.locked)' (click)="saveScript()">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
